*{
    color: #000000;
    font-family: 'Segoe UI Symbol', sans-serif;
}

html{
    margin: 2%;
}

#main{
    background-color: white;
    size: 100%;
    text-align: center;
    margin: 2%;
}

header{
    margin-left: auto;
    margin-right: auto;
    color: green;
    font-size: 50px;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
    width: 90%;
}

nav{
    height: 35px;
    width: 90%;
    background-color: #488000;
    color: white;
    margin-right: auto;
    margin-left: auto;
}
nav a{
    color: white;
    display: inline;
    padding-right: 5%;
}

section{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: inline-flex;
    vertical-align: middle;
    column-gap: 5%;
}

aside{
    width: 35%;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;    
}



main{
    width: 60%;
    text-align: justify;
}

.chikita{
    float: left;
    margin-right: 15px;
}

body{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

footer{
    width: 90%;
    height: 35px;
    background-color:#488000;
    color: #FFF;
    margin-right: auto;
    margin-left: auto;  
}

footer a{
    color: white;
    display: inline;
    padding-right: 5%;
}